on:
    workflow_dispatch:
    pull_request:
      paths:
        - '**.rs'
        - .github/workflows/ci.yml
        - Cargo.lock
        - Cargo.toml
        - '**/Cargo.toml'
        - rust-toolchain.toml
permissions: read-all
name: Rust CI
jobs:
    cargo-test:
      name: cargo test
      runs-on: ubuntu-latest-8-cores
      steps:
        - uses: actions/checkout@v6
        - name: Install Rust
          uses: dtolnay/rust-toolchain@stable
        - uses: taiki-e/install-action@cargo-llvm-cov
        - uses: taiki-e/install-action@nextest
        - uses: Swatinem/rust-cache@v2.8.2
        - uses: taiki-e/install-action@just

        - name: cargo test
          shell: bash
          run: |
            export ZOO_API_TOKEN=${{secrets.KITTYCAD_API_TOKEN}}
            just test-with-coverage
          env:
            RUST_BACKTRACE: 1
  
        - name: Upload to codecov.io
          uses: codecov/codecov-action@v5
          with:
            token: ${{secrets.CODECOV_TOKEN}}
            fail_ci_if_error: true
            flags: unittests
            verbose: true
            files: lcov.info
  
    check-breaking-changes:
      name: Check for breaking API changes
      runs-on: ubuntu-latest-8-cores
      steps:
        - uses: actions/checkout@v6
        - uses: taiki-e/install-action@just
        - name: Install Rust
          uses: dtolnay/rust-toolchain@stable
        - uses: taiki-e/install-action@nextest
        - name: Setup node
          uses: actions/setup-node@v6
        - name: Install openapi-changes
          run: npm i -g @pb33f/openapi-changes
        - uses: Swatinem/rust-cache@v2.8.2
        - name: Run just breaking-api-changes
          run: just breaking-api-changes

    check-lint:
      name: Check lints
      runs-on: ubuntu-latest-8-cores
      steps:
        - uses: actions/checkout@v6
        - uses: taiki-e/install-action@just
        - name: Install Rust
          uses: dtolnay/rust-toolchain@stable
          with:
            components: clippy
        - uses: Swatinem/rust-cache@v2.8.2

        - name: Check lints
          run: just lint

    check-wasm:
      name: Check wasm
      runs-on: ubuntu-latest-8-cores
      steps:
        - uses: actions/checkout@v6
        - uses: taiki-e/install-action@just
        - name: Install Rust
          uses: dtolnay/rust-toolchain@stable
          with:
            targets: wasm32-unknown-unknown
        - uses: Swatinem/rust-cache@v2.8.2

        - name: Check lints
          run: just check-wasm
 
    cargo-fmt:
        name: cargo fmt
        runs-on: ubuntu-latest-8-cores
        steps:
          - uses: actions/checkout@v6
          - name: Install Rust
            uses: dtolnay/rust-toolchain@stable
            with:
                components: rustfmt
  
          - name: cargo fmt
            run: cargo fmt

    can-release:
        name: Check modeling-cmds can release
        runs-on: ubuntu-latest-8-cores
        steps:
          - uses: actions/checkout@v6
          - name: Install Rust
            uses: dtolnay/rust-toolchain@stable
          - name: Dry-run a release of modeling-cmds
            run: cargo publish -p kittycad-modeling-cmds --dry-run

    check-typos:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v6
        - name: Run codespell
          uses: crate-ci/typos@v1.39.2

    cargo-toml-sorted:
      name: Check Cargo.toml is sorted
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v6
        - name: Install cargo-sort
          run: cargo install cargo-sort
        - name: Run check
          run: cargo sort --workspace --check

